<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Расширение</h1>

    <div class="task task-1">
        <p class="task-title">1. Выберите способ поиска данных</p>
        <button id="btn_hand_select">Вручную</button>
        <button id="btn_auto_select">Авто</button>
    </div>

    <script src="./view.js"></script>
</body>
</html>